#Django
CELERY_REDIS_URL=redis://localhost:6379
CORS_ORIGIN_WHITELIST=localhost,127.0.0.1,backend,10.50.1.16,hom.imoveis.sme.prefeitura.sp.gov.br
DJANGO_ALLOWED_HOSTS=localhost,localhost:8888,127.0.0.1,backend,10.50.1.16,hom.imoveis.sme.prefeitura.sp.gov.br
DJANGO_API_URL=/api
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=algumastringmuitolongaealeatoria
DJANGO_SETTINGS_MODULE=sme_ofertaimoveis.config.settings.production
URL_HOSTNAME_WITHOUT_SLASH_API=http://localhost:8888

#DB
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=imoveis
POSTGRES_USER=XXXXX
POSTGRES_PASSWORD=XXXXXX

# React
API_URL=http://localhost/api
REACT_APP_API_URL=http://localhost/api
SERVER_NAME=frontend
