#Django
CELERY_REDIS_URL=
CORS_ORIGIN_WHITELIST=
DJANGO_ALLOWED_HOSTS=
DJANGO_API_URL=
DJANGO_DEBUG=
DJANGO_SECRET_KEY=
DJANGO_SETTINGS_MODULE=
DJANGO_READ_DOT_ENV_FILE=
URL_HOSTNAME_WITHOUT_SLASH_API=

#DB
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# React
API_URL=
REACT_APP_API_URL=
REACT_APP_URL=
SERVER_NAME=

# API Demanda
# Preencher as credenciais abaixo!!.
SCIEDU_URL=
SCIEDU_TOKEN=

#CoreSSO
AUTENTICA_CORESSO_API_TOKEN=
AUTENTICA_CORESSO_API_URL=

#Integração API
SME_INTEGRACAO_URL=
SME_INTEGRACAO_TOKEN=

#Terceirizadas
EOL_API_TERCEIRIZADAS_URL=
EOL_API_TERCEIRIZADAS_TOKEN=
