{% extends "base/page.html" %}
{% block content %}
<div class="row">
    <div class="col-12 p-2">
        Prezado COGED,
        <br/> <br/>
        Você recebeu uma oferta de imovel que no momento existe demanda de crianças.

        <br/> <br/>
        <h5>Dados da Oferta</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td><b>Nome Proponente:</b> {{ oferta.proponente.nome }}</td>
                    <td><b>Documento:</b> {{ oferta.proponente.cpf_cnpj }}</td>
                </tr>
                <tr>
                    <td><b>Nome do Proprietario:</b> {{ oferta.contato.nome }}</td>
                    <td><b>Documento:</b> {{ oferta.contato.cpf_cnpj }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <b>Endereço:</b> {{ oferta.endereco }} - {{ oferta.bairro }} <b>CEP:</b> {{oferta.cep}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <b>Anexo:</b> 
                        {% if oferta.planta %}
                            <a target="blank" href="{{ URL_HOSTNAME }}{{ oferta.planta.url }}">{{ oferta.planta }}</a>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <br/> <br/>
        <h5>Demanda</h5>
        <div class="mr-5 ml-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Grupo</th>
                    <th scope="col">Fila</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in demanda %}
                        <tr>
                            <td>{{ d.nome }}</td>
                            <td>{{ d.quantidade }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
       
        <br/>
        Demanda em {% now "d/M/Y H:i" %}
    </div>
</div>
{% endblock %}