{% extends "base/page.html" %}
{% block content %}
    <div class="row">
        <div class="col-12 p-2">

            Caro munícipe,<br/><br/>
            Recebemos o cadastro do imóvel sob número de protocolo {{ protocolo }}. A área técnica da Secretaria
            Municipal de
            Educação analisará as condições do imóvel e demanda cadastrada na região e enviará parecer neste mesmo
            email. Favor aguardar nosso contato.
            <br/>
            <br/>
            Prefeitura de São Paulo
        </div>
    </div>
{% endblock %}
