{% extends "base/page.html" %}
{% block content %}
<div class="row">
    <div class="col-12 p-2">
        Prezado COGED,
        <br/> <br/>
        Você recebeu uma oferta de imovel que no momento existe demanda de crianças.

        <br/> <br/>
        
        <h5>Dados da Oferta</h5>

        <b>Protocolo:</b> {{ oferta.protocolo }}<br /><br />
        <b>Proponente</b><br /><br />
        <b>Tipo:</b> {{ oferta.proponente.get_tipo_display }}<br />
        <b>Nome Proponente:</b> {{ oferta.proponente.nome }}<br />
        <b>Documento:</b> {{ oferta.proponente.cpf_cnpj }}<br />
        <b>Email:</b> {{ oferta.proponente.email }}<br />
        <b>Telefone:</b> {{ oferta.proponente.telefone }}<br />
        <br />

        <b>Proprietário</b><br /><br />
        <b>Nome do Proprietário:</b> {{ oferta.contato.nome }}<br />
        <b>Documento:</b> {{ oferta.contato.cpf_cnpj }}<br />
        <b>Email:</b> {{ oferta.contato.email }}<br />
        <b>Telefone:</b> {{ oferta.contato.telefone }}<br />
        <br />

        <b>Dados do imóvel</b><br /><br />
        <b>Endereço:</b> {{ oferta.endereco }}<br />
        {% if oferta.complemento %}
            <b>Complemento:</b> {{oferta.complemento}}<br />
        {% endif %}
        <b>Bairro:</b> {{ oferta.bairro }}<br />
        <b>CEP:</b> {{oferta.cep}}<br />
        <b>Número IPTU:</b> {{ oferta.numero_iptu }}<br />
        <br />

        <b>Anexos</b><br /><br />
        {% for planta_foto in oferta.planta_fotos %} 
            <a target="blank" href="{{ URL_HOSTNAME_WITHOUT_SLASH_API }}{{ planta_foto.planta.url }}">{{ planta_foto.planta }}</a><br />
        {% endfor %}
        <br />

        <h5>Demanda</h5>
        <div class="mr-5 ml-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Grupo</th>
                    <th scope="col">Fila</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in demanda %}
                        <tr>
                            <td>{{ d.nome }}</td>
                            <td>{{ d.quantidade }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
       
        <br/>
        Demanda em {% now "d/M/Y H:i" %}
    </div>
</div>
{% endblock %}